<%! from django.utils.translation import ugettext as _ %>
<%! from django.core.urlresolvers import reverse %>

<%inherit file="../main.html" />

<%block name="bodyclass">add course mode page</%block>
<%block name="pagetitle">
${_("Add Course Mode")}
</%block>

<%block name="content">
<div class="container">
  <section class="wrapper">
    <div class="wrapper-add-course-mode wrapper-content-main">
      <article class="add-course-mode content-main">
        <h3 class="title">${_("Add the course mode")}</h3>
        <form class="form-add-course-mode" method="post" action="" name="add_course_mode_form" id="add_course_mode_form">
          <div class="add-course-mode">
            <div>
              <label>${_("Course Id:")}</label>
              <input type="text" value="${course_id}" name="course_id" readonly>
            </div>
            <div>
            <label>${_("Course Mode")}</label>
            <input type="text" value="" name="course_mode">
            </div>
            <div>
              <label>${_("Course Mode Display Name")}</label>
              <input type="text" value="" name="course_mode_display_name">
            </div>
            <div>
              <label>${_("Course Mode Price")}</label>
              <input type="text" value="" name="course_mode_price">
            </div>
            <div>
              <label>${_("Currency")}</label>
              <input type="text" value="" name="course_mode_currency">
            </div>
          </div>
          <input type="submit" name="verified_mode" value="${_('Add Course Mode')}" />
          <input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }">
        </form>
      </article>
    </div> <!-- /wrapper-content-main -->
  </section>
</div>
</%block>
